---

---
<div class="absolute top-0 left-0 h-screen w-screen -z-10">
    <svg version="1.1" viewBox="0 0 800 450"
    ><defs
    ><filter
            id="bbblurry-filter"
            x="-100%"
            y="-100%"
            width="400%"
            height="400%"
            filterUnits="objectBoundingBox"
            primitiveUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
    >
        <feGaussianBlur
                stdDeviation="40"
                x="0%"
                y="0%"
                width="100%"
                height="100%"
                in="SourceGraphic"
                edgeMode="none"
                result="blur"></feGaussianBlur></filter
    ></defs
    ><g filter="url(#bbblurry-filter)"
    ><ellipse
            rx="150"
            ry="150"
            cx="828.7406893643466"
            cy="177.05527288263494"
            fill="rgb(255, 241, 0)"></ellipse><ellipse
            rx="150"
            ry="150"
            cx="-25.87494451349437"
            cy="33.814882451837704"
            fill="rgb(255, 241, 0)"></ellipse></g
    ></svg
    >
</div>