---
import ContentWrapper from "./ContentWrapper.astro";
const items = [
  {
    name: "proyecta esta experiencia única",
    image: "/images/carousel-images/banner-alquiler1.webp",
  },
  {
    name: "proyecta para tu karaoke",
    image: "/images/carousel-images/banner-alquiler2.webp",
  },
  {
    name: "mejora tus presentaciones",
    image: "/images/carousel-images/banner-alquiler3.webp",
  },
  {
    name: "proyecta y vive tus mejores recuerdos",
    image: "/images/carousel-images/banner-alquiler4.webp",
  },
  {
    name: "cine en casa o al aire libre",
    image: "/images/carousel-images/banner-alquiler5.webp",
  },
];
---

<section>
  <ContentWrapper>
    <div class="relative flex overflow-x-hidden w-full">
      <div class="flex gap-8 md:gap-8 py-12 animate-marquee whitespace-nowrap">
        {
          items.map((item) => (
            <div class="w-72 md:w-80 transition-transform duration-200 ease-in-out hover:scale-110">
              <img
                src={item.image}
                alt={item.name}
                class="h-full w-full rounded-lg shadow-md "
              />
            </div>
          ))
        }
      </div>
      <div
        class="flex gap-8 md:gap-8 absolute top-0 left-8 md:left-8 py-12 animate-marquee2 whitespace-nowrap"
      >
        {
          items.map((item) => (
            <div class="w-72 md:w-80 transition-transform duration-200 ease-in-out hover:scale-110">
              <img
                src={item.image}
                alt={item.name}
                class="h-full w-full rounded-lg shadow-md "
              />
            </div>
          ))
        }
      </div>
    </div>
  </ContentWrapper>
</section>
