---
import { Icon } from "astro-icon/components";
import ContentWrapper from "../components/ContentWrapper.astro";
---

<footer class="w-full mt-20 py-6 bg-gray-950 text-center">
  <ContentWrapper>
    <div class="grid grid-cols-1 md:grid-cols-3 text-slate-400">
      <div class="flex items-center space-x-2 mx-1 my-1">
        <Icon name="mdi:phone" class="text-white text-5xl" />
        <div class="text-left">
          <p class="text-lg text-white font-semibold">906 829 867</p>
          <p class="text-sm mt-1">Lunes a Viernes de 10:00 am a 7:00 pm</p>
        </div>
      </div>
      <div class="flex items-center space-x-2 mx-1 my-1">
        <Icon name="mdi:address-marker-outline" class="text-white text-5xl" />
        <div class="text-left">
          <p class="text-lg text-white font-semibold">
            Vargas 179 Piso 1 - Chorrillos
          </p>
          <p class="text-sm mt-1">Lima - Perú</p>
        </div>
      </div>
      <div class="flex items-center space-x-2 mx-1 my-1">
        <Icon name="mdi:email" class="text-white text-center text-5xl" />
        <div class="text-left">
          <p class="text-lg text-white font-semibold">gerencia@servitec.com</p>
          <p class="text-sm mt-1">Soporte en Línea</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-4 justify-items-center mt-10 items-center">
      <a href="https://servitec.site/" class="h-10 w-10"
        ><Icon name="mdi:whatsapp" class="text-white text-5xl" /></a
      >
      <a href="https://servitec.site/" class="h-10 w-10"
        ><Icon name="mdi:facebook" class="text-white text-5xl" />
        <a href="https://servitec.site/" class="h-10 w-10"
          ><Icon name="mdi:email" class="text-white text-5xl" /></a
        >
        <a href="https://servitec.site/" class="h-10 w-10"
          ><Icon
            name="mdi:address-marker-outline"
            class="text-white text-5xl"
          /></a
        >
      </a>
    </div>

    <div class="mt-8 text-white">
      <p class="text-sm">
        © Copyright 2025 - Alquiler proyectores / Desarrollado por
        <a
          href="https://servitec.site/"
          class="text-amber-500 hover:text-amber-400">Agencia Servitec</a
        >
      </p>
    </div>
  </ContentWrapper>
</footer>
