---
import {Icon} from "astro-icon/components"
---
<header class="w-full p-6 bg-transparent backdrop-blur-sm fixed">
    <div class="w-full max-w-[1243px] m-auto">
        <div class="flex justify-between items-center">
            <span class="text-white text-lg md:text-2xl">Reparacion</span>
            <button
                    id="hamburger"
                    class="md:hidden text-white absolute right-0 text-xl"
            >
            </button>
            <!--<Icon name="mdi:home" />-->
            <nav>
                <ul class="hidden md:flex gap-4 text-slate-300 mt-2 ml-20" id="menu">
                    <li><a href="/about" class="hover:text-white">Inicio</a></li>
                    <li><a href="/blog" class="hover:text-white">Planes</a></li>
                    <li><a href="/contact" class="hover:text-white">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>