---

---

<header id="header" class="w-full fixed z-50">
  <div class="w-full p-4 max-w-[1243px] m-auto">
    <div class="flex justify-center md:justify-between items-center">
      <a href="/"
        ><img
          class="w-40"
          src="/images/logo-servitec.webp"
          alt="Logo de Servitec Peru"
        /></a
      >
      <nav class="hidden md:flex">
        <ul class="flex gap-4 text-white mt-2 ml-20" id="menu">
          <li><a href="/#plans">Planes</a></li>
          <li>
            <a
              href="/#contact"
              class="text-black bg-primary hover:bg-amber-400 transition duration-300 rounded-xl px-6 py-2"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  window.onscroll = () => {
    if (window.scrollY > 35) {
      document.querySelector("#header").classList.add("backdrop-blur-xl");
    } else {
      document.querySelector("#header").classList.remove("backdrop-blur-xl");
    }
  };
</script>
